table, th, td {
    border: 1px solid black;
    font-size: 30px;
}
.header {
    background-color:PowderBlue;
    color:ForestGreen;
}

.odd {
    background-color:LightBlue;
    color:DarkGreen;
}

.even {
    background-color:SkyBlue;
    color:DarkCyan;
}